/bin
/build
compile_commands.json
.complog
/coverage.out
/.devbox
/.direnv
/dist
*.exe
/.micromamba
/nimcache
*.out
/.pixi
/pixy
__pycache__/
*.py[cod]
/.pytest_cache
.quickfix
/result
/.ruff_cache
/target
*.test
/.venv
/.zig-cache
/zig-out
